body {
  background: rgba(255, 127, 51, 0.72);
  font-family: "Lucida Sans";
  margin: 0;
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 127, 51, 0.9);
  color: #fff;
}
  
.navbar-links {
  list-style: none;
  display: flex;
}
  
.navbar-links li {
  margin-left: 1.5rem;
}
  
.navbar-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
  
.navbar-links a:hover {
  color: #ddd;
}
  
.display-car,
.display-feature img {
  width: 100%;
  height: auto;
}
  
.product-box {
  padding: 30px;
  background: rgba(223, 154, 51, 0.8);
  margin: 1rem auto;
  border-radius: 10px;
}

.car-image-slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.car-image-slider img {
  width: 1920px;
  height: 1080px;
  display: none;
}

img.DisplaySlide {
  display: block;
}

.slide-page {

}

.car-image {
  width: 1920px;
  height: 1080px;
}

.previous-image-button {
  width: 550px;
  height: 130px;
  font-family: Lucida Sans Unicode;
  font-size: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  background: rgba(0, 255, 60, 0.8);
}

.next-image-button {
  width: 550px;
  height: 130px;
  font-family: Lucida Sans Unicode;
  font-size: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  background: rgba(255, 0, 22, 0.8);
}
.footer-box {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
